@import "reset.css";

body {
   background-color: #FFFFFF;
   font-family: "Bitstream Vera Sans", "Arial", "Helvetica", sans-serif;
}

a:link.selfref, a:visited.selfref {
 color: #555 !important;
 }

a:link, a:visited {
 color:#000099;
 text-decoration: none;
}

a:active, a:hover {
 color:#990000;
 text-decoration: underline;
}



font.FrameItemFont {
 font-size:10pt;
}

a:link.selfref, a:visited.selfref {
 color: #555 !important;
 }

.a td {
 background: #ddd;
 color: #000;
 }

h1 {
 font-family: "Bitstream Vera Sans", "Arial", "Helvetica", sans-serif;
 font-size: 200%;
 font-weight: bold;
 text-align: center;
}

h1 sup {
 font-size: 50%;
 vertical-align: super;
}
h2 {
    border:solid 1px #999999;
    padding:10px;
    background-color:#EEEEEE;
    color:#990000;
    font-weight:bold;
    /*line-height:2em;*/
}

h3 {
    border: 1px solid #555555;
    background: #cccccc;
    color:#990000;
    padding:0.2em;
}

dl {
  clear : left;
}
dt {
  color:#AAAAEE;
  font-weight: bold;
  float : left;
  clear : left;
}

dd {
    margin-top:4px;
    margin-bottom:4px;
}

dd code {
    color:#333333;
    font-size:9pt;
    font-size:normal;
}


li, dd {
    padding-left:2em;
}

.off {
    font-weight: normal;
    font-style: italic;
}

.fieldext {
  width : 100%;
  clear : both;
}
.isInherited {
    border-left: 3px solid #ede1e1;
}

.notInherited {
    border-left: 3px solid #fff;
}

.isDeprecated .signature {
    text-decoration: line-through;
}
.apiComments {
    margin-top : .3em;
    margin-bottom: .5em;
    margin-left: 2em;
    font-size: 80%;
    font-style: italic;
}

#intro .apiComments {
    margin: 2em;
}

code, .signature {
  font-family: "Inconsolata", "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
}

.signature b {
  color: #111;
}
.signature b {
  color: #000;
}

.deprecationMsg {
  border-left: 1px solid #EDEF7D;
  padding-left : 1em;
}

pre, .codeAsDoc {
    white-space: pre;
    font-family: "Inconsolata", "Bitstream Vera Sans Mono", monospace;
    border: dashed 1px #909090;
    padding: 5px;
    font-style: normal;
}

.failures {
  background :#EDEF7D;
  border: 1px solid #FFFF0000;
  padding: 10px;
}

#logo {
  float: right;
}
div.minitoolbar {
  float: right;
  padding : 0;
  marging : 0;
}
div.discuss, div.nodiscuss {
  float: right;
  background : url('empty.png') no-repeat center;
  font-family: "Inconsolata", "Bitstream Vera Sans Mono", monospace;
  width: 23px;
  height: 23px;
  padding-top : 6px;
  font-size: 12px;
  text-align : center;
  font-weight: bold;
}
div.linksource {
  float: right;
  width: 23px;
  height: 23px;
  padding : 0;
  font-size: 12px;
  text-align : center;
  font-weight: bold;
}

.overview h1, .overview h2, .overview h3, .apiComments h1, .apiComments h2, .apiComments h3 {
 font-family: "Bitstream Vera Sans", "Arial", "Helvetica", sans-serif;
 font-weight: bold;
 text-align: left;
 padding: 1em;
 border: none;
 background: #FFF;
 color:#999999;
}
.overview {
  width : 100%;
  clear : both;
}
.overview h1, .apiComments h1 {
  font-size : 125%;
}
.overview h2, .apiComments h2 {
  font-size : 120%;
}
.overview h3, .apiComments h3 {
  font-size : 110%;
}
ul.subTypes li {
  display: inline;
  list-style-type:none;
  padding-left: 1em;
}
